@import url("https://fonts.googleapis.com/css2?family=Itim&family=Sedan+SC&display=swap");
.logo img {
  width: 80px;
  height: 80px;
}
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14vh;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: black;
  color: white;
  padding: 10px;
}
.nav-item:hover {
  cursor: pointer;
  border-bottom: 3px solid red;
  transition: 0.5s;
}
.nav-item {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid black;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.brand {
  font-size: 25px;
  font-weight: 900;
}
.footer {
  background-color: black;
  width: 100vw;
  color: white;
  padding: 40px;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-items a {
  text-decoration: none;
  color: white;
}
.footer-items {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
