@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
.section-1 {
  height: 100vh;
  position: relative;
}
.section-2 {
  height: 100vh;
}
.section-3 {
  height: 100vh;
}
.title {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 43%;
  left: 29%;
  font-size: 80px;
  background-color: black;
  color: white;
  padding: 10px;
}
